.contenedor {
    display: grid;
    grid-template-rows: auto auto auto; /* Tres filas de altura automática */
    gap: 10px; /* Espacio entre elementos */
    background-color: white;
  }
  
  .descripcion {
    grid-row: 1; /* La descripción va en la primera fila */
    text-align: center; /* Centrar texto */
  }
  
  .elementos {
    display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas en el segundo renglón */
  }
  
  /* Ajusta según sea necesario */
  .imagen {
    width: 100%;
    height: auto;
    
  }

  .titulo {
    color: black;
    text-alig: center;
    font-weight: bold;
    
  }