.contactanosButton{
    background-color: red;
    color: white;
    padding: 0.6rem;
    border-radius: 0.8rem;
    margin: 0rem 0.2rem;
    align: center;
    justify-content: center;
    
  
}
.dar {
    text-align: center;
    size: 48px;
    font-weight: bold;
}
.rojo {
    color: red;
}

.contenedor {
    
    width: 50%;
    height: 50%px;
    radius: 8px;
    padding: 64px;
    gap: 64px;
    float: right;
    
    
}

.texto {
    weight: 500px;
    size: 20px;

}
.contenedorboton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }