.derecha {
    display: flex;
    justify-content: flex-end;
}

/* .cuerpo {
    background-image: url('');

  background-size: cover;
  background-position: center;
  
  z-index: 1;
  position: relative;
} */



.contactanosButton {
    background-color: red;
    color: white;
    padding: 0.6rem;
    border-radius: 0.8rem;
    margin: 0rem 0.2rem;
    align: center;
    justify-content: center;
    
  
}

.h2 {
    display: flex;
    
    weight: 900;
    size: 48px;


}
.elementos {
    
    display: flex;
    justify-content: space-between;
    grid-template-rows: repeat(4, 1fr); /* Cuatro columnas en el segundo renglón */
  }
  .patrocinadorImg {
    width: 20%;
    height: auto;
    
  }
  .contenedorboton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .patrocinadorImgabajo {
margin-top: 30px;
  }

  .patrocinadorImgarriba {
margin-bottom: 50px;
  }