.filterContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    padding: 3rem;
}

.filterContainer select {
    background-color: #f8f3e3;
    border-radius: 0.6rem;
    padding: 0.4rem 0.8rem;
} 

.filterName {
    font-weight: bold;
}