.contenedor {
    display: grid;
    grid-template-rows: auto auto auto; /* Tres filas de altura automática */
    gap: 10px; /* Espacio entre elementos */
    background-color: white;
  }
  
  .descripcion {
    grid-row: 1; /* La descripción va en la primera fila */
    text-align: center; /* Centrar texto */
  }
  
  .elementos {
    display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(5, 1fr); /* Cuatro columnas en el segundo renglón */
  }
  
  /* Ajusta según sea necesario */
  .patrocinadorImg {
    width: 100%;
    height: auto;
    max-width: 90px;
  }

  .titulo {
    color: black;
    text-align: center;
  }